<widget id="com.kisastudio.bbnews" version="1.0.0">
    <name>Боевое братство</name>
    <description>
        Вся жизнь общественного движения Боевое братство в вашем устройстве. Новости, статьи, фото, видео.
    </description>
    <author email="support@kisa-studio.ru" href="http://kisa-studio.ru">
        KiSa Studio
    </author>
	<icon src="logo.png" />
    <access origin="*" />
	


	
	
</widget>